body{
    background-image: url(https://phonoteka.org/uploads/posts/2021-04/1617820620_8-p-vse-foni-bravl-stars-8.png);
    background-attachment: fixed;
}
.a2{
    color:rgb(19, 133, 4);
    text-align: center;
}
.a1{
    text-align: center;
}
.a3{
    color:rgb(201, 23, 23); 
}
.a4{
    color:rgb(236, 213, 7); 
}
.a5{
    color:rgb(19, 133, 4);
}